@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";


@theme {
    /* TYPOGRAPHY */
    --font-dela: 'Dela Gothic One';
    --font-kanit: 'Kanit';

    /* COLORS */
    /* bg and text */
    --color-cream: #FFF7F4;
    --color-dark: #000000;
    /* archive label */
    --color-stone: #D9D9D9;

    /* primary buttons, food label, and planning label */
    --color-mustard: #F7931E;
    --color-litemustard: #FFD29D;

    /* bording pass and lighter color with it signup nd login button color */
    --color-berry: #EF1258;
    /* signup bg and event label */
    --color-liteberry: #FFDBE6;

    /* music label */
    --color-lav: #C192FF;

    /* views label */
    --color-rose: #FD7CA5;

    /* green buttons, free label, ongoing label and lite login bg */
    --color-leaf: #89D089;
    --color-liteleaf: #C5EDC5;

    /* circle icon buttons, blue buttons, and art label, upcoming label*/
    --color-bluegreen: #68CFAE;

    /* landmark label */
    --color-sea: #68C4CF;
}

@layer base {
    h1 {
        font-size: var(--text-3xl);
    }
    h2 {
        font-size: var(--text-2xl);
    }
    h3 {
        font-size: var(--text-xl);
    }
    h4 {
        font-size: var(--text-lg)
    }
    p {
        font-size: var(--text-base)
    }
}

body {
    @apply bg-cream text-dark font-kanit;
}

/* header styling */
h1, h2 {
    @apply font-dela;
}

/* input styling */
input[type="text"], input[type="email"], input[type="password"] {
    @apply py-2 px-4 bg-[#FAF3FB] placeholder:text-[#7E6F6F] placeholder:italic outline-1 rounded-2xl w-full;
}

/* button behavior */
button {
    @apply cursor-pointer;
}